body {
  font-family: sans-serif;
  background-color: grey;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #ffffff;
}

.nav-bar {
  background-color: #000000;
}

form div {
  margin: 1em;
  display: inline-block;
}

.brand-name {
  color: #000000;
}
