body {
  font-family: sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: gold;
}

.nav-bar {
  background-color: #000000;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Exercise Library */

.library-header {
  padding-top: 5px;
  text-align: center;
  font-style: italic;
  font-size: 24px;
}

.library-info {
  text-align: center;
  font-size: 16px;
}

.all-exercises {
  padding: 0;
  padding-left: 10px;
  margin: 0px;
  list-style-type: none;
}

.all-exercises-container {
  width: 350px;
  height: 400px;
  background-color: gold;
  float: left;
  margin: 30px;
  padding: 5px;
  word-wrap: break-word;
}
